img {max-width: 100%;height: auto;}
a {text-decoration: none;}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */


/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
    margin-bottom: 20px;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
    margin-bottom: 20px;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
    font-size: 14px;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}

.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 100%;
    margin-bottom: 20px;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33333%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66667%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28571%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11111%;
}

.gallery-caption {
    display: block;
    margin-top: 5px;
    font-size: 14px;
}
    


/******------------------------------
-----------BLOG CSS------------
------------------------------******/

.page-links a {
    display: inline-block;
    margin-left: 8px;
    padding: 3px 11px;
    color: #ffffff!important;
    background: #0052a5;
}
.page-links a:hover {
    background-color: #333;
    color: #ffffff;
}
.page-links {
    margin: 25px 0;
}

article.sticky {
    position: relative;
    background: #f8f8f8;
    padding: 25px;
}

article.sticky::after {
    color: #fff;
    content: "\f08d";
    font-family: FontAwesome;
    font-size: 28px;
    position: absolute;
    right: 25px;
    top: 25px;
    background: #0052a5;
    width: 90px;
    height: 45px;
    text-align: center;
}


article.post a {
    color: #0052a5;
}
.entry-header h2 {
    font-size: 25px;
}
.entry-header {
    margin-bottom: 25px;
}
.entry-footer, .entry-meta, .cat-links {
    font-size: 93%;
}
.cat-links {
    font-size: 100%;
}
.entry-footer span {padding-right: 15px;}
.entry-meta > span {
    padding-right: 15px;
}
.entry-meta i.fa {
    padding-right: 5px;
}

article.post a.granted-btn {
    color: #fff;
    margin-top: 10px;
}
.entry-footer {
    margin-top: 15px; /* Change  15px slo*/
}
article.post {
    margin-bottom: 50px;
}
.navigation.posts-navigation .nav-links {
    border-top: 1px solid #ddd;
    margin-bottom: 30px;
    overflow: hidden;
}
.navigation.posts-navigation .nav-links > div {
    float: left;
    width: 50%;
}
.navigation.posts-navigation .nav-links > div.nav-next {
    float: right;
    text-align: right;
}
.navigation.posts-navigation .nav-links a {
    color: #333;
    display: block;
    padding: 10px 0;
}
.widget-title {
    font-size: 25px;
}
.widget_calendar table {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    width: 100%;
}
.widget_calendar table td,
.widget_calendar table th {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}
.widget_calendar table caption {
    font-weight: 700;
}
.widget {
    margin-bottom: 40px;
}
.widget select {max-width: 100%}
.widget a {
  color: #333;
}
.widget ul {
    line-height: 35px;
    font-size: 16px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.rss-date {
    color: #999;
    font-weight: 300;
}
.widget_rss li {
    margin-bottom: 20px;
}
.widget ul.sub-menu:nth-child(2) {
     line-height: 25px;
    padding-top: 5px;
    padding-bottom: 0px;
}
.widget ul.sub-menu:last-child {
    padding-bottom: 5px;
}

.widget ul.sub-menu {
    padding-left: 15px;
}

.cat-links a {
    text-decoration: underline;
}
.entry-content {
    line-height: 1.7;
    color: #333333;
}
body.single .entry-content {
    font-size: 16px;
}
.entry-content table {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin-bottom: 30px;
}
.entry-content table td, .entry-content table th {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px;
}
.entry-content dd {
    margin-bottom: 15px;
}
.entry-content ul, .entry-content ol {
    padding-left: 40px;
    margin-bottom: 20px;
}
ol ol, ol ul, ul ol, ul ul {
    margin-bottom: 0!important;
}
.navigation.post-navigation .nav-links {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 30px;
    overflow: hidden;
}
.navigation.post-navigation .nav-links > div {
    float: left;
    width: 50%;
}
.navigation.post-navigation .nav-links > div.nav-next {
    float: right;
    text-align: right;
}
.navigation.post-navigation .nav-links a {
    display: block;
    padding: 10px 0;
}
.navigation.post-navigation .nav-links a:hover {
    color: #222222;
    text-decoration: underline;
}

.widget ul {
    line-height: 35px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.rssSummary {
    line-height: 26px;
}
.widget.widget_rss .rsswidget {
    font-size: 110%;
    font-weight: 600;
}
.widget_rss ul {
    line-height: 26px;
}
.widget.widget_rss li:hover {
    color: #333;
}
.widget.widget_rss cite {
    display: inline-block;
    font-weight: 400;
    padding-top: 5px;
}

/******------------------------------
-----------COMMENTS CSS------------
------------------------------******/

.comments-title {
    margin-bottom: 35px;
    font-size: 30px;
    color: #000000;
}
.comment-list {
    max-width: 790px;
}
.comment-list,
.children {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.says {
    display: none;
}
.comment-author.vcard img {
    float: left;
    margin-right: 18px;
}
.comment-content {
    color: #555555;
    padding-left: 50px;
    margin-top: 15px;
    font-size: 16px;
}
pre {
    border: 1px solid #d1d1d1;
    font-size: 15px;
    line-height: 1.3125;
    margin: 30px 0 30px;
    max-width: 100%;
    overflow: auto;
    padding: 25px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    background: transparent;
}
code {
    font-size:  15px;
    background: #f8f8f8;
    color: #333;
    padding: 0.125em 0.25em;
    border-radius: 0;
}

code, kbd, pre, samp {
    font-size: 15px;
}

ins, mark {
    background:  #007acc;
    color: #ffffff;
    padding: 2px 5px;
    text-decoration:  none;
}
kbd {
    padding: 3px 5px;
    color: #333;
    background-color: rgba( 68, 68, 68, 0.2);
    border-radius: 0px;
    -webkit-box-shadow: none ;
    box-shadow: none; 
}
.comment-content h1, .comment-content h2, .comment-content h3, .comment-content h4, .comment-content h5, .comment-content h6 {
    margin: 20px 0;
}
.comment-content dd {
    margin-bottom: 20px;
}
.comment-content table {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 30px;
}
.comment-content table td,
.comment-content table th {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}
.comment-content ol {
    padding-left: 15px;
}
.comment-content ul, .comment-content ol {
    padding-left: 25px;
}
.comment-content ul {
    list-style: disc outside;
}
.comment-list li ol.children {
    padding-left: 50px;
}
.comment-list li ol.children ol.children {
    padding-left: 20px;
}
.comment-author.vcard img {
    border-radius: 50%;
    position: relative;
    top: 10px;
}
b.fn {
    color: #666;
    font-size: 18px;
    text-transform: capitalize;
}
b.fn a,
.comments-area a {
    color: #000;
}
.comment-list > li,
.children article {
    margin-bottom: 30px;
}
.comment-metadata a time {
    color: #777777;
    font-size: 14px;
    font-weight: 300;
}
.reply {
  padding-left: 50px;
}

.reply a {
    color: #666;
}
.children {
    padding-left: 25px;
}

.comment-form p > input,
.comment-form p textarea {
    border: 0px solid;
    padding: 11px 0 11px 10px;
    width: 100%;
    -webkit-transition: .3s;
    transition: .3s;
    resize: none;
    background-color: #f6f6f6;
}
.comment-form textarea {
    margin-bottom: 10px;
}
.comment-form .form-submit {
    margin-top: 30px;
}
.comment-form p {
    margin-bottom: 20px;
}
.comment-form p.comment-form-comment {
    margin-bottom: 5px;
}
.comment-reply-title {
    margin-bottom: 30px;
}
.logged-in .comment-reply-title {
    margin-bottom: 30px;
}
.comment-form p > input:focus,
.comment-form p textarea:focus {
    border-color: transparent;
    box-shadow: none;
}
.comment-form {
    padding-right: 10px;
}
.comment-form .comment-notes {
    display: none;
}
.logged-in .form-submit {
    bottom: 4px;
    right: 0;
}
.logged-in .comment-form p:nth-child(2) {
    float: none;
}
.logged-in .comment-form p:not(:first-child) {
    float: none;
    width: 70%;
}
.logged-in .comment-form-comment textarea {
    display: block;
    width: 100%;
}
.comment-form p > input[type="submit"] {
    background: #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

#cancel-comment-reply-link{
    color: red;
}
.comment-list li.pingback {
    margin-bottom: 15px;
}

/*** Slicknav CSS ***/
/*!
 * SlickNav Responsive Mobile Menu v1.0.10
 * (c) 2016 Josh Cope
 * licensed under MIT
 */.slicknav_btn,.slicknav_nav .slicknav_item{cursor:pointer}.slicknav_menu,.slicknav_menu *{box-sizing:border-box}.slicknav_btn{position:relative;display:block;vertical-align:middle;float:right;padding:.438em .625em;line-height:1.125em}.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar{margin-top:.188em}.slicknav_menu .slicknav_menutxt{display:block;line-height:1.188em;float:left;color:#fff;font-weight:700;text-shadow:0 1px 3px #000}.slicknav_menu .slicknav_icon{float:left;width:1.125em;height:.875em;margin:.188em 0 0 .438em}.slicknav_menu .slicknav_icon:before{background:0 0;width:1.125em;height:.875em;display:block;content:"";position:absolute}.slicknav_menu .slicknav_no-text{margin:0}.slicknav_menu .slicknav_icon-bar{display:block;width:1.125em;height:.125em;-webkit-border-radius:1px;-moz-border-radius:1px;border-radius:1px;-webkit-box-shadow:0 1px 0 rgba(0,0,0,.25);-moz-box-shadow:0 1px 0 rgba(0,0,0,.25);box-shadow:0 1px 0 rgba(0,0,0,.25)}.slicknav_menu:after,.slicknav_menu:before{content:" ";display:table}.slicknav_menu:after{clear:both}.slicknav_nav li,.slicknav_nav ul{display:block}.slicknav_nav .slicknav_arrow{font-size:.8em;margin:0 0 0 .4em}.slicknav_nav .slicknav_item a{display:inline}.slicknav_nav .slicknav_row,.slicknav_nav a{display:block}.slicknav_nav .slicknav_parent-link a{display:inline}.slicknav_menu{*zoom:1;font-size:16px;background:#4c4c4c;padding:5px}.slicknav_nav,.slicknav_nav ul{list-style:none;overflow:hidden;padding:0}.slicknav_menu .slicknav_icon-bar{background-color:#fff}.slicknav_btn{margin:5px 5px 6px;text-decoration:none;text-shadow:0 1px 1px rgba(255,255,255,.75);-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;background-color:#222}.slicknav_nav{clear:both;color:#fff;margin:0;font-size:.875em}.slicknav_nav ul{margin:0 0 0 20px}.slicknav_nav .slicknav_row,.slicknav_nav a{padding:5px 10px;margin:2px 5px}.slicknav_nav .slicknav_row:hover{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background:#ccc;color:#fff}.slicknav_nav a{text-decoration:none;color:#fff}.slicknav_nav a:hover{-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background:#ccc;color:#222}.slicknav_nav .slicknav_txtnode{margin-left:15px}.slicknav_nav .slicknav_item a,.slicknav_nav .slicknav_parent-link a{padding:0;margin:0}.slicknav_brand{float:left;color:#fff;font-size:18px;line-height:30px;padding:7px 12px;height:44px}

